@import "./base/colors";
@import "./sections/header";
@import "./pages/home";

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Cabin; 
	color : #244F59;
	background-color: @background-color;
	font-size: 14px;
}
 
p {
	margin: 0;
}

textarea { 
	font-family: inherit;
}

a, a:visited {
	color: inherit;
}